{% load static %}

<footer>
    <img src="{% static 'img/logo.png' %}" alt="logo_footer" height="100px">
    <ul> 
        <li> <a href="https://www.flaticon.com/free-icons/camera"> Logo Designer: Flat icon</a></li>
        <li> <a href="https://www.flaticon.com/free-icons/camera"> Logo Designer: Flat icon</a></li>
        <li> <a href="https://www.flaticon.com/free-icons/camera"> Logo Designer: Flat icon</a></li>
    </ul>

    <ul> 
        <li> <a href=" {% url 'index' %} "> Home</a></li>
        <li> <a href=" {% url 'portfolio' %} ">Portfolio</a></li>
        <li> <a href="https://instagram.com">Instagram</a></li>
    </ul>

    <ul> 
        <li> <a href="https://www.flaticon.com/free-icons/camera"> Logo Designer: Flat icon</a></li>
        <li> <a href="https://www.flaticon.com/free-icons/camera"> Logo Designer: Flat icon</a></li>
        <li> <a href="https://www.flaticon.com/free-icons/camera"> Logo Designer: Flat icon</a></li>
    </ul>
</footer>