* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

h1 {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-content: center;
}

li {
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
    font-weight: bold;
}

ul li a {
    text-decoration: none;
    color: #000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 100px;
    background-color: #ccc;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 85vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 60px;
    background-color: #ccc;
}